//COLORS
$dark-red:  #540045;
$light-red: #C60052;
$soft-orange: #FF714B;
$light-lime:  #EAFF87;
$rich-mint: #ACFFE9;

//Button
button{
    &.delete, &.close {

        border-radius: .375rem;
        border: 0dvi solid $dark-red;
        color: #FFF;
        font-weight: bold;
        background-color: $dark-red !important;
        &:hover, &:focus, &:active{
            background-color: #C60052 !important;
        }
    }
}
button{
    &.edit, &.save {

        border-radius: .375rem;
        border: 0px solid $dark-red;
        color: #FFF;
        font-weight: bold;
        background-color: $soft-orange !important;
        &:hover, &:focus, &:active{
            background-color: #C60052 !important;
        }
    }
}
button.add{
    border-radius: .375rem;
    border: none;
    color: #000;
    font-weight: bold;
    background-color: $rich-mint !important;
    &:hover, &:focus, &:active{
        background-color: #C60052 !important;
    }
}

//Table

th, tr{
    color: $dark-red;
}

//Border
.border-dark-red{
    border-color: $dark-red !important;
}

//Modal
.modal-dialog{
    .modal-title, .modal-body, select{
        color: $dark-red !important;
    }
}